@import './base.css';
/* Internet Explorer 10+ */
html {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
}

/* Chrome, Edge, Safari */
html::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}

body {
    overflow: auto;
}
